
<!DOCTYPE html>
<html lang="en">

    {{- partial "head.html" . -}}

    <body>

        <div class="outer">
            <div class="middle">
                <div class="inner">
                    
                    {{- partial "header.html" . -}}
                    {{- partial "navigation.html" . -}}
                    {{- partial "nav-bar.html" . -}} <!-- English, Deutsch dropdown prepared-->
                    <!-- {{- partial "i18nlist.html" . -}} --> <!-- en: / de: -->
                    <!-- {{- partial "allLanguages.html" . -}} --> <!-- English, Deutsch -->
                    
                    <main>
                        {{ block "main" . }} {{ end }}
                    </main>

                    {{- partial "footer.html" . -}}

                </div>
            </div>
        </div>

        {{- partial "math.html" . -}}

    </body>
</html>
